<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
	<typeAlias type="exam.user.vo.UserVo" alias="uservo"/>
	<typeAlias type="exam.board.vo.BoardVo" alias="boardvo"/>
	<typeAlias type="exam.board.vo.BoardPostVo" alias="boardpostvo"/>
	<typeAlias type="exam.board.vo.AttachVo" alias="attachvo"/>
	<typeAlias type="exam.board.vo.PageVo" alias="pagevo"/>
	<typeAlias type="exam.board.vo.PostComVo" alias="postcomvo"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="hr"/>
        <property name="password" value="java"/>
        <property name="poolMaximumActiveConnections" value="20"/>
        <property name="poolMaximumIdleConnections" value="20"/>
        <property name="poolMaximumCheckoutTime" value="20000"/>
        <property name="poolPingEnabled" value="true"/>
        <property name="poolPingConnectionsNotUsedFor" value="10000"/>
        <property name="poolTimeToWait" value="15000"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="exam/config/mapper/user.xml"/>
    <mapper resource="exam/config/mapper/board.xml"/>
  </mappers>
</configuration>